html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#container {
  height: 0;
  padding-bottom: 76.25%;
  /* 16:9 */
  position: relative;
}

#wall {
  background: url(./img/wall_plus.jpg);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

a {
  cursor: grab;
  /* Used for debugging link positioning: */
  /* background-color: green; */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.overlay {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  position: absolute;
  background: #efefef;
  padding: 20px;
  top: 20%;
  opacity: 0;
  animation-duration: 8s;
  -webkit-animation-duration: 8s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  border-radius: 0 20px 20px 0;
  font-family: Consolas, Courier New, monospace;
  box-sizing: border-box;
}

.overlay.fadeIn {
  z-index: 3;
}

#img-overlay {
  background: #efefef;
  max-width: 100%;
  position: absolute;
  top: 5%;
  left: calc(50% - 430px);
  opacity: 1;
  padding:30px;
  text-align: center;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  opacity: 0;
}
#img-overlay.fadeIn {
  z-index: 2; /* Be on top of things */
}

/* Image overlay on hover */
#img-overlay.fadeIn .front {
  cursor: grab;
}

#img-overlay a {
  color: #000;
  cursor: pointer;
}

#img-overlay > span {
  position: absolute;
  right: 12.5px;
  top: 10px;
  cursor: pointer;
}

.front, .back {
  display: block;
  margin-bottom: 20px;
  max-width: 100%;
}

.card-wrap {
  position: relative;
  z-index: 4;
}
.card-wrap:hover > .back, .card-wrap:active > .back {
  opacity: 1;
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.guide {
  text-decoration: underline;
  cursor: pointer;
  color: purple;
}

.left {
  width: 60%;
}

.right {
  width: 40%;
}

.postmark {
  max-width: 140px;
  max-height: 140px;
  position: absolute;
  right: 20px;
  top: 20px;
  opacity: 0.7;
}

.address {
  margin: 70% 0 0 30%;
}

#footer {
  text-align: center;
}

@media (max-width: 1500px) {
  #img-overlay {
    left: calc(50% - 330px);
  }
}
/*
Add a media query for the intro to look postcard width
*/
@media (max-width: 700px) {
  .overlay {
    top: 5%;
  }

  .overlay {
    animation-duration: 3s;
    -webkit-animation-duration: 3s;
  }

  .left {
    width: 90%;
  }

  .right {
    width: 10%;
  }

  .postmark {
    opacity: 20%;
    right: 30%;
  }

  .address {
    display: none;
  }

  #img-overlay {
    left: 0;
    padding: 25px;
  }

  #img-overlay span {
    z-index: 1;
    background: #efefef;
  }
}
